*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: gothic medium;
	font-weight: bold;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #00f2ff, #ff00aa);
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid black;
	outline: none;
	background: radial-gradient(#00f2ff88, #ff00aaa2);
}

.calculator-grid > button:hover {
	background: radial-gradient(#ff00aa35, #00f2ff8e);
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: #ff00aa;
	font-size: 2rem;
}

.output .current-operand {
	color: #00f2ff;
	font-size: 3rem;
}
